<a href="https://colab.research.google.com/github/Deboraj-roy/-mental-health-data-analyst/blob/main/Debraj_Desition_tree%2CKnn%2CRandom_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
c = pd.read_csv('CGPA.csv')
d = pd.read_csv('depression.csv')
m =pd.read_csv('Marital-status.csv')
s = pd.read_csv('Current-year-of-Study.csv')

In [ ]:

s

    Marital_status Your_current_year_of_Study
0               No                      Year1
1               No                      Year2
2               No                      Year1
3              Yes                      Year3
4               No                      Year4
..             ...                        ...
96              No                      Year1
97              No                      Year2
98             Yes                      Year3
99              No                      Year4
100             No                      Year2

[101 rows x 2 columns]

In [ ]:
s.drop_duplicates(inplace=True)

In [ ]:
s.head(10)

   Marital_status Your_current_year_of_Study
0              No                      Year1
1              No                      Year2
3             Yes                      Year3
4              No                      Year4
6             Yes                      Year2
15             No                      Year3
17            Yes                      Year4
50            Yes                      Year1

In [ ]:
s.shape

(8, 2)

In [ ]:
c.head(10)

,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,CGPA_Category
0,Yes,No,Average
1,No,No,Average
2,Yes,No,Average
3,No,No,Average
4,No,No,Average
5,Yes,No,Excellent
6,Yes,No,Excellent
7,No,No,Excellent
8,No,No,Bad
9,Yes,No,Excellent

In [ ]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Do_you_have_Panic_attack?                     101 non-null    object
 1   Did_you_seek_any_specialist_for_a_treatment?  101 non-null    object
 2   CGPA_Category                                 101 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Do_you_have_Anxiety?                          101 non-null    object
 1   Do_you_have_Panic_attack?                     101 non-null    object
 2   Did_you_seek_any_specialist_for_a_treatment?  101 non-null    object
 3   Do_you_have_Depression?                       101 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [ ]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Do_you_have_Depression?                       101 non-null    object
 1   Do_you_have_Panic_attack?                     101 non-null    object
 2   Did_you_seek_any_specialist_for_a_treatment?  101 non-null    object
 3   Marital_status                                101 non-null    object
dtypes: object(4)
memory usage: 3.3+ KB

In [ ]:
s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 50
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Marital_status              8 non-null      object
 1   Your_current_year_of_Study  8 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [ ]:
import sklearn
from pandas import read_csv
from numpy import set_printoptions
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [ ]:
c=pd.get_dummies(c,columns=['Do_you_have_Panic_attack?','Did_you_seek_any_specialist_for_a_treatment?','CGPA_Category'])
d=pd.get_dummies(d,columns=['Do_you_have_Anxiety?','Do_you_have_Panic_attack?','Did_you_seek_any_specialist_for_a_treatment?','Do_you_have_Depression?'])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32,handle_unknown="ignore")
m = ohe.fit_transform(m[['Do_you_have_Panic_attack?','Did_you_seek_any_specialist_for_a_treatment?','Marital_status','Do_you_have_Depression?']])
# X_test_new = ohe.transform(X_test[['fuel','owner']])

In [ ]:
ohe_s= OneHotEncoder(drop='first',sparse=False,dtype=np.int32,handle_unknown="ignore")
s=ohe_s.fit_transform(s[['Marital_status','Your_current_year_of_Study']])
# s=pd.get_dummies(s,columns=['Marital_status','Your_current_year_of_Study'])

In [ ]:
s

array([[0, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 1, 0],
       [0, 0, 0, 1],
       [1, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 1],
       [1, 0, 0, 0]])

In [ ]:
c

,Do_you_have_Panic_attack?_No,Do_you_have_Panic_attack?_Yes,Did_you_seek_any_specialist_for_a_treatment?_No,Did_you_seek_any_specialist_for_a_treatment?_Yes,CGPA_Category_Average,CGPA_Category_Bad,CGPA_Category_Excellent,CGPA_Category_Fail
0,0,1,1,0,1,0,0,0
1,1,0,1,0,1,0,0,0
2,0,1,1,0,1,0,0,0
3,1,0,1,0,1,0,0,0
4,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...
96,1,0,1,0,0,0,1,0
97,1,0,1,0,1,0,0,0
98,0,1,1,0,0,0,1,0
99,1,0,1,0,0,0,1,0
100,1,0,1,0,1,0,0,0

In [ ]:
d

,Do_you_have_Anxiety?_No,Do_you_have_Anxiety?_Yes,Do_you_have_Panic_attack?_No,Do_you_have_Panic_attack?_Yes,Did_you_seek_any_specialist_for_a_treatment?_No,Did_you_seek_any_specialist_for_a_treatment?_Yes,Do_you_have_Depression?_No,Do_you_have_Depression?_Yes
0,1,0,0,1,1,0,0,1
1,0,1,1,0,1,0,1,0
2,0,1,0,1,1,0,0,1
3,1,0,1,0,1,0,0,1
4,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...
96,0,1,1,0,1,0,1,0
97,0,1,1,0,1,0,0,1
98,1,0,0,1,1,0,0,1
99,1,0,1,0,1,0,1,0
100,1,0,1,0,1,0,1,0

In [ ]:
m

array([[1, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 0, 1, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 0, 0],
       [1, 0, 1, 1],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [1, 1, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 1, 1, 1],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 1, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 0],
       [1, 1, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 1, 1],
       [1, 1, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 1, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [ ]:
m.shape

(101, 4)

In [ ]:
m = pd.DataFrame(m, columns = ['Do_you_have_Panic_attack?','Did_you_seek_any_specialist_for_a_treatment?','Do_you_have_Depression?','Marital_status'])

In [ ]:

s = pd.DataFrame(s, 
                
                 columns = ['Marital_status','Your_current_year_of_Study_1','Your_current_year_of_Study_2','Your_current_year_of_Study_3'])
#  index=["col1", "col2", "col3", "col4"], # <--- more items added
#     columns=["col1", "col2", "col3", "col4"]

In [ ]:
c["CGPA_Category"] = c['CGPA_Category_Average'].astype(str) + c['CGPA_Category_Bad'].astype(str)+ c['CGPA_Category_Excellent'].astype(str)+ c['CGPA_Category_Fail'].astype(str)
d["Do_you_have_Depression?"] = d['Do_you_have_Depression?_Yes'].astype(str) + d['Do_you_have_Depression?_No'].astype(str)
# m["Do_you_have_Depression?"] = m['Do_you_have_Depression?_Yes'].astype(str) + m['Do_you_have_Depression?_No'].astype(str)
s["Your_current_year_of_Study"] = s['Your_current_year_of_Study_1'].astype(str) + s['Your_current_year_of_Study_2'].astype(str) + s['Your_current_year_of_Study_3'].astype(str)

In [ ]:
# Average-Bad-Excellent-Fail

In [ ]:
m

,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,Do_you_have_Depression?,Marital_status
0,1,0,0,1
1,0,0,0,0
2,1,0,0,1
3,0,0,1,1
4,0,0,0,0
...,...,...,...,...
96,0,0,0,0
97,0,0,0,1
98,1,0,1,1
99,0,0,0,0
100,0,0,0,0

In [ ]:
s

,Marital_status,Your_current_year_of_Study_1,Your_current_year_of_Study_2,Your_current_year_of_Study_3,Your_current_year_of_Study
0,0,0,0,0,000
1,0,1,0,0,100
2,1,0,1,0,010
3,0,0,0,1,001
4,1,1,0,0,100
5,0,0,1,0,010
6,1,0,0,1,001
7,1,0,0,0,000

In [ ]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Marital_status                8 non-null      int32
 1   Your_current_year_of_Study_1  8 non-null      int32
 2   Your_current_year_of_Study_2  8 non-null      int32
 3   Your_current_year_of_Study_3  8 non-null      int32
 4   Your_current_year_of_Study    8 non-null      object
dtypes: int32(4), object(1)
memory usage: 320.0+ bytes

In [ ]:
# df.drop(['B', 'C'], axis=1)
# df.drop(columns=['B', 'C'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train_c,X_test_c,y_train_c,y_test_c = train_test_split(c.drop(['CGPA_Category_Average','CGPA_Category_Bad','CGPA_Category_Excellent','CGPA_Category_Fail','CGPA_Category'],axis=1),
                                                 c['CGPA_Category'],
                                                 test_size=0.2,
                                                random_state=42)

X_train_d,X_test_d,y_train_d,y_test_d = train_test_split(d.drop(columns=['Do_you_have_Depression?','Do_you_have_Depression?_Yes','Do_you_have_Depression?_No']),
                                                 d['Do_you_have_Depression?'],
                                                 test_size=0.2,
                                                random_state=42)


# X_train_m,X_test_m,y_train_m,y_test_m = train_test_split(m.drop(columns=['Do_you_have_Depression?']),
#                                                  m['Do_you_have_Depression?'],
#                                                  test_size=0.2,
#                                                 random_state=42)


X_train_m,X_test_m,y_train_m,y_test_m = train_test_split(m.drop(['Marital_status'],
                                                                axis=1),
                                                 m['Marital_status'],
                                                 test_size=0.2,
                                                random_state=42)

X_train_s,X_test_s,y_train_s,y_test_s = train_test_split(s.drop(['Your_current_year_of_Study_1','Your_current_year_of_Study_2','Your_current_year_of_Study_3'],
                                                                axis=1),
                                                 s['Your_current_year_of_Study'],
                                                 test_size=0.2,
                                                random_state=42)

In [ ]:
X_test_m.shape

(21, 3)

In [ ]:
X_train_m.shape

(80, 3)

In [ ]:
X_test_m

,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,Do_you_have_Depression?
84,0,0,0
55,0,0,0
66,0,0,0
67,1,0,1
45,1,0,0
39,1,1,1
22,0,0,0
44,1,0,0
10,0,0,0
0,1,0,0
18,0,0,0
30,0,0,0
97,0,0,0
33,0,1,1
77,1,0,0
4,0,0,0
93,0,0,0
78,0,0,0
12,0,0,0
31,0,0,0
76,0,0,0

In [ ]:
X_train_m

,Do_you_have_Panic_attack?,Did_you_seek_any_specialist_for_a_treatment?,Do_you_have_Depression?
89,1,0,0
26,0,0,0
42,0,0,0
70,0,0,0
15,0,0,0
...,...,...,...
60,1,0,0
71,1,0,0
14,0,0,0
92,0,0,1
51,0,0,0

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# oneh = OneHotEncoder(handle_unknown='ignore')
# X = [['Do_you_have_Depression?_Yes', 0], ['Do_you_have_Depression?_No', 1]]
# oneh.fit(X)
# # oneh.transform([['Female', 1], ['Male', 4]]).toarray()
# oneh.transform([['Female', 1], ['Male', 4]])





# oneh = OneHotEncoder(handle_unknown="ignore")
# oneh.fit(train_data[features])
# X_test = oneh.transform(test_data[features])

In [ ]:
# ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

# X_train_new_c = ohe.fit_transform(X_train_c[['Do_you_have_Panic_attack?_Yes','Do_you_have_Panic_attack?_No',
#                                              'Did_you_seek_any_specialist_for_a_treatment?_Yes','Did_you_seek_any_specialist_for_a_treatment?_No'
#                                             ]])
# X_test_new_c = ohe.transform(X_test_c[['Do_you_have_Panic_attack?_Yes','Do_you_have_Panic_attack?_No',
#                                              'Did_you_seek_any_specialist_for_a_treatment?_Yes','Did_you_seek_any_specialist_for_a_treatment?_No'
#                                             ]])
# y_train_new_c =ohe.transform(y_train_c['CGPA_Category'])
# y_test_new_c =ohe.transform(y_test_c['CGPA_Category'])



# X_test_new_c.shape

In [ ]:
# y_train_new_c =ohe.transform(y_train_c[['1-0-0-0','0-1-0-0','0-0-1-0','0-0-0-1']])
# y_test_new_c =ohe.transform(y_test_c[['1-0-0-0','0-1-0-0','0-0-1-0','0-0-0-1']])

In [ ]:
# X_train_new_c = ohe.fit_transform(X_train_c[['Do_you_have_Panic_attack?','Did_ou_seek_any_specialist_for_a_treatment?']])
# X_test_new_c = ohe.transform(X_test_c[['Do_you_have_Panic_attack?','Did_ou_seek_any_specialist_for_a_treatment?']])

In [ ]:
# enc = OneHotEncoder(handle_unknown='ignore')
# X = [['Male', 1], ['Female', 3], ['Female', 2]]
# enc.fit(X)
# # enc.transform([['Female', 1], ['Male', 4]]).toarray()
# enc.transform([['Female', 1], ['Male', 4]])

In [ ]:
# X_train_new

In [ ]:
# X_test_new

## Decision Tree

In [ ]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [ ]:

clf_c = DecisionTreeClassifier()
clf_c.fit(X_train_c, y_train_c)
y_pred_c = clf_c.predict(X_test_c)
accuracy_score(y_test_c,y_pred_c)
# r2_score=r2_score(y_test_c,y_pred_c)
# r2_score

0.2857142857142857

In [ ]:
clf_d = DecisionTreeClassifier()
clf_d.fit(X_train_d, y_train_d)
y_pred_d = clf_d.predict(X_test_d)
accuracy_score(y_test_d,y_pred_d)
# r2_score=r2_score(y_test_c,y_pred_c)
# r2_score

0.6666666666666666

In [ ]:
clf_m = DecisionTreeClassifier()
clf_m.fit(X_train_m, y_train_m)
# y_pred_m = clf.predict(X_test_m)
# accuracy_score(y_test_m,y_pred_m)
# r2_score=r2_score(y_test_c,y_pred_c)
# r2_score

DecisionTreeClassifier()

In [ ]:
y_pred_m = clf_m.predict(X_test_m)
accuracy_score(y_test_m,y_pred_m)

0.7619047619047619

In [ ]:
clf_s = DecisionTreeClassifier()
clf_s.fit(X_train_s, y_train_s)
y_pred_s = clf_s.predict(X_test_s)
accuracy_score(y_test_s,y_pred_s)
# r2_score=r2_score(y_test_c,y_pred_c)
# r2_score

1.0

## Knn

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()

In [ ]:

clf.fit(X_train_c, y_train_c)
y_pred_c = clf.predict(X_test_c)
accuracy_score(y_test_c,y_pred_c)

0.5238095238095238

In [ ]:
clf.fit(X_train_d, y_train_d)
y_pred_d = clf.predict(X_test_d)
accuracy_score(y_test_d,y_pred_d)

0.6666666666666666

In [ ]:
clf.fit(X_train_m, y_train_m)
y_pred_m = clf.predict(X_test_m)
accuracy_score(y_test_m,y_pred_m)

0.7619047619047619

In [ ]:
clf.fit(X_train_s, y_train_s)
y_pred_s = clf_s.predict(X_test_s)
accuracy_score(y_test_s,y_pred_s)

1.0

## RandomForest

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
clf_r = RandomForestClassifier()

In [ ]:
clf_r.fit(X_train_c, y_train_c)
y_pred_c = clf_r.predict(X_test_c)
accuracy_score(y_test_c,y_pred_c)

0.2857142857142857

In [ ]:
clf_r.fit(X_train_d, y_train_d)
y_pred_d = clf_r.predict(X_test_d)
accuracy_score(y_test_d,y_pred_d)

0.6666666666666666

In [ ]:
clf_r.fit(X_train_m, y_train_m)
y_pred_m = clf_r.predict(X_test_m)
accuracy_score(y_test_m,y_pred_m)

0.7619047619047619

In [ ]:
clf_r.fit(X_train_s, y_train_s)
y_pred_s = clf_r.predict(X_test_s)
accuracy_score(y_test_s,y_pred_s)

0.0