<a href="https://colab.research.google.com/github/Deboraj-roy/-mental-health-data-analyst/blob/main/Mental_Health_data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Continuous variable to categorical variable in python

In [16]:
import pandas as pd

In [17]:
pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from scipy) (1.21.6)

In [18]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Student Mental health (updated).csv")

In [19]:
dataset.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,Average,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,Average,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,Average,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,Average,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,Average,No,No,No,No,No

In [20]:
dataset.tail()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
96,13-07-20 19:56,Female,21.0,BCS,year 1,Excellent,No,No,Yes,No,No
97,13-07-20 21:21,Male,18.0,Engineering,Year 2,Average,No,Yes,Yes,No,No
98,13-07-20 21:22,Female,19.0,Nursing,Year 3,Excellent,Yes,Yes,No,Yes,No
99,13-07-20 21:23,Female,23.0,Pendidikan Islam,year 4,Excellent,No,No,No,No,No
100,18-07-20 20:16,Male,20.0,Biomedical science,Year 2,Average,No,No,No,No,No

In [21]:
dataset.Age.head(25)

0     18.0
1     21.0
2     19.0
3     22.0
4     23.0
5     19.0
6     23.0
7     18.0
8     19.0
9     18.0
10    20.0
11    24.0
12    18.0
13    19.0
14    18.0
15    24.0
16    24.0
17    24.0
18    20.0
19    18.0
20    19.0
21    18.0
22    24.0
23    24.0
24    23.0
Name: Age, dtype: float64

In [22]:
pd.cut(dataset.Age, bins=[0, 17, 18, 65], labels=["Adolescents","Adults", "Older adults"]).head(100)

0           Adults
1     Older adults
2     Older adults
3     Older adults
4     Older adults
          ...
95          Adults
96    Older adults
97          Adults
98    Older adults
99    Older adults
Name: Age, Length: 100, dtype: category
Categories (3, object): ['Adolescents' < 'Adults' < 'Older adults']

In [23]:
pd.cut(dataset.Age, bins=[0, 17, 18, 65], labels=["Adolescents","Adults", "Older adults"])

0            Adults
1      Older adults
2      Older adults
3      Older adults
4      Older adults
           ...
96     Older adults
97           Adults
98     Older adults
99     Older adults
100    Older adults
Name: Age, Length: 101, dtype: category
Categories (3, object): ['Adolescents' < 'Adults' < 'Older adults']

# Chi square test relations using google colab


Next Another
https://colab.research.google.com/drive/15twjOR4q5hvoZxIEZaeiR33-SrS7fV_k?authuser=1#scrollTo=qXdbDUdIvvyV

In [24]:
import pandas as pd

In [25]:
pip install bioinfokit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bioinfokit
  Downloading bioinfokit-2.1.0.tar.gz (86 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.0/87.0 KB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (1.0.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (0.11.2)
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (0.11.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (0.8.10)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (from bioinfokit) (0.12.2)
Collecting textwrap3
  Downloading textwrap3-0.9.2-py2.py3-none-any.whl (12 kB)
Collecting adjustText
  Downloading adjustText-0.7.3.tar.gz (7.5 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->bioinfokit) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->bioinfokit) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->bioinfokit) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->bioinfokit) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->bioinfokit) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->bioinfokit) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->bioinfokit) (1.2.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels->bioinfokit) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels->bioinfokit) (1.15.0)
Building wheels for collected packages: bioinfokit, adjustText
  Building wheel for bioinfokit (setup.py) ... done
  Created wheel for bioinfokit: filename=bioinfokit-2.1.0-py3-none-any.whl size=58662 sha256=d633c41704af9a5ea9bb285e95bf2b78fab10a87c8cf19f71e0a81c4627b4562
  Stored in directory: /root/.cache/pip/wheels/93/5b/a8/2be2669621c3c344d362eb6703e5fd7b6ece47a6b5ab35b207
  Building wheel for adjustText (setup.py) ... done
  Created wheel for adjustText: filename=adjustText-0.7.3-py3-none-any.whl size=7096 sha256=b8b211242338de87811cd6533bdde718a4abec6087b02727f6d4eeea37833489
  Stored in directory: /root/.cache/pip/wheels/06/b2/e0/b239bd2c0ff89b98c4f0c86a63e7059f38a8dfaf6df2641c63
Successfully built bioinfokit adjustText
Installing collected packages: textwrap3, adjustText, bioinfokit
Successfully installed adjustText-0.7.3 bioinfokit-2.1.0 textwrap3-0.9.2

In [26]:
from bioinfokit.analys import stat

In [27]:
pip install scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from scipy) (1.21.6)

In [28]:
dataset2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Student-Mental-health Menual.csv")

In [29]:
dataset.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,Average,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,Average,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,Average,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,Average,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,Average,No,No,No,No,No

In [30]:
dataset.tail()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
96,13-07-20 19:56,Female,21.0,BCS,year 1,Excellent,No,No,Yes,No,No
97,13-07-20 21:21,Male,18.0,Engineering,Year 2,Average,No,Yes,Yes,No,No
98,13-07-20 21:22,Female,19.0,Nursing,Year 3,Excellent,Yes,Yes,No,Yes,No
99,13-07-20 21:23,Female,23.0,Pendidikan Islam,year 4,Excellent,No,No,No,No,No
100,18-07-20 20:16,Male,20.0,Biomedical science,Year 2,Average,No,No,No,No,No

In [31]:
ctab3 = pd.crosstab(dataset2['Timestamp'],dataset2['What is your course?'])

In [32]:
print(ctab3)

What is your course?  ALA  Accounting   BCS  BENL  BIT  Banking Studies  Benl  \
Timestamp
08-07-20 12:02          0            0    0     0    0                0     0
08-07-20 12:04          0            0    0     0    0                0     0
08-07-20 12:05          0            0    0     0    1                0     0
08-07-20 12:06          0            0    0     0    0                0     0
08-07-20 12:13          0            0    0     0    0                0     0
...                   ...          ...  ...   ...  ...              ...   ...
13-07-20 19:56          0            0    1     0    0                0     0
13-07-20 21:21          0            0    0     0    0                0     0
13-07-20 21:22          0            0    0     0    0                0     0
13-07-20 21:23          0            0    0     0    0                0     0
18-07-20 20:16          0            0    0     0    0                0     0

What is your course?  Biomedical science  Biotechnology  \
Timestamp
08-07-20 12:02                         0              0
08-07-20 12:04                         0              0
08-07-20 12:05                         0              0
08-07-20 12:06                         0              0
08-07-20 12:13                         0              0
...                                  ...            ...
13-07-20 19:56                         0              0
13-07-20 21:21                         0              0
13-07-20 21:22                         0              0
13-07-20 21:23                         0              0
18-07-20 20:16                         1              0

What is your course?  Business Administration  ...  Pendidikan Islam  \
Timestamp                                      ...
08-07-20 12:02                              0  ...                 0
08-07-20 12:04                              0  ...                 0
08-07-20 12:05                              0  ...                 0
08-07-20 12:06                              0  ...                 0
08-07-20 12:13                              0  ...                 0
...                                       ...  ...               ...
13-07-20 19:56                              0  ...                 0
13-07-20 21:21                              0  ...                 0
13-07-20 21:22                              0  ...                 0
13-07-20 21:23                              0  ...                 1
18-07-20 20:16                              0  ...                 0

What is your course?  Pendidikan Islam   Pendidikan islam  Psychology  \
Timestamp
08-07-20 12:02                        0                 0           0
08-07-20 12:04                        0                 0           0
08-07-20 12:05                        0                 0           0
08-07-20 12:06                        0                 0           0
08-07-20 12:13                        0                 0           0
...                                 ...               ...         ...
13-07-20 19:56                        0                 0           0
13-07-20 21:21                        0                 0           0
13-07-20 21:22                        0                 0           0
13-07-20 21:23                        0                 0           0
18-07-20 20:16                        0                 0           0

What is your course?  Radiography  TAASL  Usuluddin   engin  koe  psychology
Timestamp
08-07-20 12:02                  0      0           0      0    0           0
08-07-20 12:04                  0      0           0      0    0           0
08-07-20 12:05                  0      0           0      0    0           0
08-07-20 12:06                  0      0           0      0    0           0
08-07-20 12:13                  0      0           0      0    0           0
...                           ...    ...         ...    ...  ...         ...
13-07-20 19:56                  0      0           0      0    0           0
13-07-20 21:21                  0      0           0      0    0           0
13-07-20 21:22                  0      0           0      0    0           0
13-07-20 21:23                  0      0           0      0    0           0
18-07-20 20:16                  0      0           0      0    0           0

[90 rows x 49 columns]

In [33]:
res = stat()

In [34]:
data3=ctab3

In [35]:
res.chisq(data3)

In [36]:
print(data3)

What is your course?  ALA  Accounting   BCS  BENL  BIT  Banking Studies  Benl  \
Timestamp
08-07-20 12:02          0            0    0     0    0                0     0
08-07-20 12:04          0            0    0     0    0                0     0
08-07-20 12:05          0            0    0     0    1                0     0
08-07-20 12:06          0            0    0     0    0                0     0
08-07-20 12:13          0            0    0     0    0                0     0
...                   ...          ...  ...   ...  ...              ...   ...
13-07-20 19:56          0            0    1     0    0                0     0
13-07-20 21:21          0            0    0     0    0                0     0
13-07-20 21:22          0            0    0     0    0                0     0
13-07-20 21:23          0            0    0     0    0                0     0
18-07-20 20:16          0            0    0     0    0                0     0

What is your course?  Biomedical science  Biotechnology  \
Timestamp
08-07-20 12:02                         0              0
08-07-20 12:04                         0              0
08-07-20 12:05                         0              0
08-07-20 12:06                         0              0
08-07-20 12:13                         0              0
...                                  ...            ...
13-07-20 19:56                         0              0
13-07-20 21:21                         0              0
13-07-20 21:22                         0              0
13-07-20 21:23                         0              0
18-07-20 20:16                         1              0

What is your course?  Business Administration  ...  Pendidikan Islam  \
Timestamp                                      ...
08-07-20 12:02                              0  ...                 0
08-07-20 12:04                              0  ...                 0
08-07-20 12:05                              0  ...                 0
08-07-20 12:06                              0  ...                 0
08-07-20 12:13                              0  ...                 0
...                                       ...  ...               ...
13-07-20 19:56                              0  ...                 0
13-07-20 21:21                              0  ...                 0
13-07-20 21:22                              0  ...                 0
13-07-20 21:23                              0  ...                 1
18-07-20 20:16                              0  ...                 0

What is your course?  Pendidikan Islam   Pendidikan islam  Psychology  \
Timestamp
08-07-20 12:02                        0                 0           0
08-07-20 12:04                        0                 0           0
08-07-20 12:05                        0                 0           0
08-07-20 12:06                        0                 0           0
08-07-20 12:13                        0                 0           0
...                                 ...               ...         ...
13-07-20 19:56                        0                 0           0
13-07-20 21:21                        0                 0           0
13-07-20 21:22                        0                 0           0
13-07-20 21:23                        0                 0           0
18-07-20 20:16                        0                 0           0

What is your course?  Radiography  TAASL  Usuluddin   engin  koe  psychology
Timestamp
08-07-20 12:02                  0      0           0      0    0           0
08-07-20 12:04                  0      0           0      0    0           0
08-07-20 12:05                  0      0           0      0    0           0
08-07-20 12:06                  0      0           0      0    0           0
08-07-20 12:13                  0      0           0      0    0           0
...                           ...    ...         ...    ...  ...         ...
13-07-20 19:56                  0      0           0      0    0           0
13-07-20 21:21                  0      0           0      0    0           0
13-07-20 21:22                  0      0           0      0    0           0
13-07-20 21:23                  0      0           0      0    0           0
18-07-20 20:16                  0      0           0      0    0           0

[90 rows x 49 columns]

In [37]:
print(res.summary)

Chi-squared test for independence

Test              Df    Chi-square    P-value
--------------  ----  ------------  ---------
Pearson         4272       4311.46   0.332571
Log-likelihood  4272        622.73   1