<a href="https://colab.research.google.com/github/Deboraj-roy/-mental-health-data-analyst/blob/main/Our_Copy_of_Chi_Square_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# tips=sns.load_dataset('tips')

dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Student Mental health (updated).csv")

In [4]:
tips = dataset

In [5]:
tips.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,Average,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,Average,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,Average,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,Average,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,Average,No,No,No,No,No

In [6]:
# now let's findout the relationship between CGPA Category and Marital status

In [8]:
# Let's create the contigency table

relationship1 =pd.crosstab(index=tips['CGPA Category'],columns=tips['Marital status'])
relationship1

Marital status  No  Yes
CGPA Category
Average         36    7
Bad              2    2
Excellent       41    7
Fail             6    0

In [ ]:
# now let's perform the chi2 test to findout the relationship betwwen CGPA Category and Marital status columns.
# here we have 2 hypothesis, the NULL hypothesis says that there is no relationship between CGPA Category and Marital status columns
# and the alternate hypothesis says that both the CGPA Category and Marital status columns are related to each other.
# to justify which hypothesis is TRUE we will have a singnificance value which is the p value, also known as alpha which 
# we are setting as 0.05
# so if p< 0.05 then we will reject the NULL hypothesis and will accept the alternate hypothesis.

In [ ]:
# now let's perform the chi2 test

In [9]:
from scipy import stats

In [11]:
relationship1.iloc[2].values

array([41,  7])

In [12]:
(chi2,p_value,df,_)=stats.chi2_contingency([relationship1.iloc[0].values,relationship1.iloc[1].values])

In [13]:
print(chi2)
print(p_value)
print(df)

0.9510021419828639
0.32946434182680057
1

In [14]:
tips.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,Average,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,Average,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,Average,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,Average,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,Average,No,No,No,No,No

In [ ]:
# now let's findout the relstionship between Marital status and Do you have Depression?

In [15]:
# let'screate the contigency table

relstionship2=pd.crosstab(index=tips['Marital status'],columns=tips['Do you have Depression?'])
relstionship2

Do you have Depression?  No  Yes
Marital status
No                       66   19
Yes                       0   16

In [16]:
relstionship2.iloc[1].values

array([ 0, 16])

In [17]:
# now let's perform the chi2 test

(Chi2,p_val,DF,_)=stats.chi2_contingency([relstionship2.iloc[0].values,relstionship2.iloc[1].values])

In [20]:
print(Chi2)
print(p_val, "which is around'0.00000000118957416'")
print(DF)

32.50383729628216
1.1895741630407184e-08 which is around'0.00000000118957416'
1

In [ ]:
# here the p value is way less than 0.05 which means that smoker and day columns are highly related